.category-box {
	background-color: #14213d;
	border-color: #14213d !important;
	background-size: cover;
	background-position: center;
	min-height: 200px;
	cursor: pointer;
	transition: 0.3s;
}

.categories {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	grid-template-rows: auto;
	gap: 10px;
}

.category__image {
	width: 120px;
	height: 120px;
	border-radius: 100px;
}

.category-box:hover {
	background-color: #141e35;
	border-color: #14213d !important;
}
